In [1]:
import pandas as pd
import numpy as np
from funciones import *
import geopandas as gpd
import matplotlib.pyplot as plt
import datetime as dt

In [7]:
bar_est = pd.read_csv(r'../data/bar_est.csv')
est_centro = bar_est[bar_est.NOMDIS == 'Centro']

l_esta = list(est_centro['id'])

In [19]:
bar_est.columns

Index(['id', 'number', 'name', 'longitude', 'latitude', 'address',
       'total_bases', 'geometry', 'index_right', 'CODDIS', 'NOMDIS', 'COD_BAR',
       'NOMBRE', 'n_salidas', 'n_salidas_AVG', 'n_entradas', 'n_entradas_AVG',
       'ratio1', 'dif', 'ratio2', 'ratioAVG', 'mov_TOT', 'mov_TOT_AVG'],
      dtype='object')

In [20]:
bar_est[['id','name','CODDIS', 'NOMDIS', 'COD_BAR','NOMBRE']]

,id,name,CODDIS,NOMDIS,COD_BAR,NOMBRE
0,1,Puerta del Sol A,1,Centro,16,Sol
1,2,Puerta del Sol B,1,Centro,16,Sol
2,3,Miguel Moya,1,Centro,15,Universidad
3,4,Plaza Conde Suchil,7,Chamberí,72,Arapiles
4,5,Malasaña,1,Centro,15,Universidad
...,...,...,...,...,...,...
261,266,Ciudad Universitaria 1,9,Moncloa - Aravaca,93,Ciudad Universitaria
262,267,Ciudad Universitaria 2,9,Moncloa - Aravaca,93,Ciudad Universitaria
263,268,Facultad Biología,9,Moncloa - Aravaca,93,Ciudad Universitaria
264,269,Facultad Derecho,9,Moncloa - Aravaca,93,Ciudad Universitaria
265,270,Zurbano,7,Chamberí,75,Ríos Rosas

In [25]:
c2_iti_esta = c2_iti_esta.join(bar_est[['id','name','CODDIS', 'NOMDIS', 'COD_BAR','NOMBRE']].set_index('id'), on='id_est').reset_index()

In [8]:
l_esta

[1,
 2,
 3,
 5,
 6,
 7,
 8,
 10,
 11,
 12,
 13,
 14,
 16,
 17,
 18,
 19,
 20,
 21,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 71,
 91,
 174,
 218,
 219]

In [10]:
c2_iti_esta = pd.read_csv(r'..\data\c2_iti_esta.csv')

In [11]:
c2_iti_esta.head()

,dia_mes_año,mes_año,año,mes,dia,weekend,id_est,hora,n_salidas,T_medio_sal,n_entradas,T_medio_ent
0,2020-07-01,2020-07,2020,7,Wednesday,0,1,0,0.0,NaN,0.0,NaN
1,2020-07-01,2020-07,2020,7,Wednesday,0,1,1,2.0,9.0,0.0,NaN
2,2020-07-01,2020-07,2020,7,Wednesday,0,1,2,0.0,NaN,0.0,NaN
3,2020-07-01,2020-07,2020,7,Wednesday,0,1,3,0.0,NaN,0.0,NaN
4,2020-07-01,2020-07,2020,7,Wednesday,0,1,4,0.0,NaN,0.0,NaN

In [16]:
esta_centro = c2_iti_esta[(c2_iti_esta.mes == 7) & (c2_iti_esta.id_est.isin(l_esta))]

In [17]:
esta_centro.to_csv(r'..\data\esta_centro.csv', index=False)

In [26]:
c2_iti_esta.to_csv(r'..\data\c2_iti_esta2.csv', index=False)

In [30]:
c2_iti_esta[(c2_iti_esta.CODDIS == 1) & (c2_iti_esta.mes == 7)].shape

(44640, 18)

In [31]:
esta_centro.shape

(44640, 12)

In [33]:
c2_iti_esta.n_salidas.sum()

3696359.0