In [1]:
import pandas as pd
import numpy as np
from funciones import *

In [2]:
estaciones = pd.read_csv(fr'../data_raw/bases/bases_bicimad.csv', sep=';' )

In [3]:

dir = r'C:\Users\aaron\AAROON\IRONHACK_BOOTCAMP_DATA\8_PROYECTO_FINAL\biciMAD_analysis\data_raw\conjunto_estaticos'

estatic =  agrupa_data(dir, conjunto_estaticos)

In [4]:
estatic.head()

,_id,activate,name,reservations_count,light,total_bases,free_bases,number,longitude,no_available,address,latitude,dock_bikes,id
0,2019-07-01T00:29:26.018083,1,Puerta del Sol A,0,2,24,15,1a,-3.7024255,0,Puerta del Sol nº 1,40.4168961,8,1
1,2019-07-01T00:29:26.018083,1,Puerta del Sol B,0,2,24,14,1b,-3.7024207,0,Puerta del Sol nº 1,40.4170009,9,2
2,2019-07-01T00:29:26.018083,1,Miguel Moya,0,2,24,12,2,-3.7058415,0,Calle Miguel Moya nº 1,40.4205886,10,3
3,2019-07-01T00:29:26.018083,1,Plaza Conde Suchil,0,1,18,4,3,-3.7069171,0,Plaza del Conde Suchil nº 2-4,40.4302937,11,4
4,2019-07-01T00:29:26.018083,1,Malasaña,0,0,24,17,4,-3.7025875,0,Calle Manuela Malasaña nº 5,40.4285524,3,5

In [5]:
estatic.shape

(3923271, 14)

In [6]:
dir = r'C:\Users\aaron\AAROON\IRONHACK_BOOTCAMP_DATA\8_PROYECTO_FINAL\biciMAD_analysis\data_raw\conjunto_itinerarios'

itiner =  agrupa_data(dir, conjunto_itinerarios)

In [7]:
itiner.head()

,_id,user_day_code,idplug_base,user_type,idunplug_base,travel_time,idunplug_station,ageRange,idplug_station,unplug_hourTime,zip_code
0,5ee862cecc8c1e839b419387,509e6a72b7673f533912bf647d20df19305b848fbc1b89...,5,1,20,154,44,5,40,2019-07-01T00:00:00Z,28007
1,5ee862cecc8c1e839b41938c,90069a1194c3eb9e6faecaaf4eefb7209e890c0df5aeac...,8,1,17,184,57,4,129,2019-07-01T00:00:00Z,28045
2,5ee862cecc8c1e839b419394,b0ecaab6a35b7ea44d118f851f7fad5c2237e7dd51b337...,15,1,16,282,53,4,43,2019-07-01T00:00:00Z,
3,5ee862cecc8c1e839b41939e,5e1b8a8c4603ee8ac4f06aba12ff51e2c5dd105b6e5193...,18,1,18,388,56,0,13,2019-07-01T00:00:00Z,
4,5ee862cecc8c1e839b4193a5,80974c4043db61721399c43f296ce1db4436c7f107f8fc...,1,1,20,254,105,0,75,2019-07-01T00:00:00Z,